@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-neutral-200;
  }

  body {
    @apply bg-white text-neutral-900 antialiased;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-[1280px] px-4 sm:px-6 lg:px-20;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
